body{
    font-family: "Arial", "Helvetica", sans-serif;
}
p {
  text-align: right; 
}
body{
    border-color: red;
    border-style: solid;
    border-width: 1px;
}
body{
    border: 1px solid red;
}
body{
    color: #333333;
    font-family: "Lucinda Sans Unicode",
                 "Lucinda Grande", sans-serif;
}
h1{
    background-image: url(../img/sobre-background.jpg);
}
h2 {
border-bottom: 2px solid #333333;
}
h3{
    background-color: #D8BFD8;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}
